@import "./variables";
@import "./helper";


body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans";
}

.header {
  position: fixed;
  background-color: rgba(white, 0.5);
  width: 100%;
  padding-block: 1rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  .logo {
    font-size: 2.5rem;
    font-weight: bold;
  }


  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 1rem;
      display: none;
    }

    @media screen and (min-width:768px) {
      .fa-bars {
        display: none;
      }

      ul {
        display: flex;
      }
    }
  }
}

.parent {
  background-color: lightblue;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .box {
    height: 100px;
    background-color: red;
    flex: 1;
  }

  @media screen and (min-width:768px) {
    flex-direction: row;

    .box {
      background-color: green;
    }
  }


}
